<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Register</h1>
    </header>
    <main>
        <section class="login-form">
            <form action="{{ url_for('register') }}" method="POST">
                {% if error %}
                <div class="form-group">
                    <p class="error">{{ error }}</p>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <button type="submit">Register</button>
                </div>
            </form>
            <p>Already a user? <a href="{{ url_for('login') }}">Login</a></p>
        </section>
    </main>
</body>
</html>
